<!DOCTYPE html>
<html lang="en" data-scale="true">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=0.5, user-scalable=no, width=device-width">
    <style type="text/css">
        html, body {
            pointer-events:  auto;
        }
        /* html{
            background-image:  url(
https://s3a.pstatp.com/growth/mobile_detail/image/body_placeholder_181cc7e873c00b44ef4ad9089f2a64ac.png)
        } */
    </style>
    <title></title>

    <link type="text/css" rel="stylesheet" href="https://pic.qianmi.com/ejz/icon_JZ/css/icon.min.css" />
</head>
<body>
<input type="hidden" name="duserCode" id="duserCode" value='<%=duserCode%>' />
<input type="hidden" name="interfaceUrl" id="interfaceUrl" value='<%=interfaceUrl%>'/>
<div id="root"></div>
<script src="/js/dist/vendor.ef16bb37575e5100b96f.js"></script>
<script type="text/javascript" src='https://webapi.amap.com/maps?v=1.4.3&plugin=AMap.Geolocation,AMap.ToolBar,AMap.Geocoder,AMap.PlaceSearch,AMap.Autocomplete,AMap.Driving&key=9f269b1ccef5945ffe7a603d1ae00f70'></script>
<script type="text/javascript" src='https://res.wx.qq.com/open/js/jweixin-1.3.1.js'></script>
<script type="text/javascript" src="/js/dist/qianmi-entry-90a8517ac4664f24ad59.js"></script></body>
</html>
