{
  "presets": [
    "es2015",
    "stage-3",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    "transform-flow-strip-types"
  ]
}